Add Coments And Make Summary.json
{
  "name": "Add Coments And Make Summary",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "subject:Python Code"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -672,
        -80
      ],
      "id": "f3a446a0-6e96-49ff-96ee-103a7485ae51",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "xIu3uwhDnzK4xiW5",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the code: {{ $json.text }}\nI want to add coment to every line so that i can understand easily",
        "messages": {
          "messageValues": [
            {
              "message": "Yau are a helpful assisstance and you can help me to undertand the code by adding comments"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -416,
        -208
      ],
      "id": "88be37fd-8eed-4370-9eeb-a729b1565431",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the code: {{ $json.text }}\nI want The summary of This code ",
        "messages": {
          "messageValues": [
            {
              "message": "Yau are a helpful assisstance and you can help me to undertand the code by Giving a meaningfull summary"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -400,
        64
      ],
      "id": "ee5bd488-d3f0-479a-bd82-1e7157d8bd3d",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -80,
        -96
      ],
      "id": "09028973-0b19-429c-9e1c-1a0bf1d1284c",
      "name": "Merge"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        80,
        -96
      ],
      "id": "6d3ca32f-8e91-49d0-b29e-621c9c90adc3",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "modelName": "models/gemini-robotics-er-1.5-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -304,
        -64
      ],
      "id": "a777361d-8e30-47a0-bfb4-24015cf1dacd",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "t3EXoToR3tYE8Iq8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-robotics-er-1.5-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -480,
        -48
      ],
      "id": "77ebf27e-d4d0-4f30-83b6-0e0042e1f63a",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "t3EXoToR3tYE8Iq8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "1muhammadahmad0313@gmail.com",
        "subject": "Code with Summary And Comments",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        736,
        32
      ],
      "id": "6e8532ee-bf05-445b-a159-f08f6384c968",
      "name": "Send a message",
      "webhookId": "0bdc435a-54b3-4e0d-af91-48c4993a2285",
      "credentials": {
        "gmailOAuth2": {
          "id": "xIu3uwhDnzK4xiW5",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "530c3602-8132-4c48-a563-d29298ff804a",
              "name": "message",
              "value": "=Code with comment:\n{{ $json.text[0] }}\n\ncode with summary:\n{{ $json.text[1] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        -96
      ],
      "id": "abd63c67-36b2-47ff-be5d-7679d9db474c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Convert The message into html format\nInclude proper code blocks whenever necessar.The Code blocks should have syntax highlighting for the specific language used in the code.\n\nMessage:\n{{ $json.message }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You Can convert any message to an html format"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        464,
        -112
      ],
      "id": "ee4a40da-a475-4da2-9d70-728f8a9f8e51",
      "name": "Basic LLM Chain2"
    },
    {
      "parameters": {
        "modelName": "models/gemini-robotics-er-1.5-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        448,
        48
      ],
      "id": "f21cf3a3-b4b1-40f8-abef-ad13b985e285",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "t3EXoToR3tYE8Iq8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain2": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "979f5fcb-b23b-4fce-b854-67ef50943c9f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "84bb5f1de3e0c2e0827dcb6d1c2a0f7052ed110374f922dec8b534421aa04c2e"
  },
  "id": "pxgC5AYPqWHVRInl",
  "tags": []
}