First Workflow.json
{
  "name": "First Workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Form For Feedback",
        "formDescription": "Send Your Feedback about our service",
        "formFields": {
          "values": [
            {
              "fieldLabel": "email_id",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Mobile No",
              "fieldType": "number"
            },
            {
              "fieldLabel": "FeedBack",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Positive"
                  },
                  {
                    "option": "Negative"
                  },
                  {
                    "option": "Normal"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -368,
        -112
      ],
      "id": "52eb6d55-952c-43bd-a65a-1d35d4d05a01",
      "name": "On form submission",
      "webhookId": "923af66c-7701-4ae9-84ea-3b9b92f88605"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fba23fd3-6f15-4e53-a808-cf4107119637",
              "leftValue": "={{ $json.FeedBack }}",
              "rightValue": "Positive",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -160,
        -112
      ],
      "id": "e20dcc3b-b2bb-4ce6-903a-373093ecd1b8",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e725c14a-0faf-4f6b-af68-4e6d8423f544",
              "name": "Give_discount",
              "value": "Yes",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        -208
      ],
      "id": "b7d1f8e3-ad3a-4048-8cf7-1ae357af9530",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e725c14a-0faf-4f6b-af68-4e6d8423f544",
              "name": "Give_discount",
              "value": "No",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        0
      ],
      "id": "67f68929-b42e-4f7e-b19c-f70a77d8d1c0",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Edit Fields1": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "64aa7305-2c5a-4981-8c45-f3148f9f6231",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "84bb5f1de3e0c2e0827dcb6d1c2a0f7052ed110374f922dec8b534421aa04c2e"
  },
  "id": "7qRlpmDSvunFbBUn",
  "tags": []
}
